{
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "arrowParens": "avoid",
  "svelteSortOrder": "scripts-markup-styles",
  "svelteBracketNewLine": true,
  "endOfLine": "auto"
}
